:root {

    /* Top Bar */
    --bg-color: #00BCD4;

    /* Radial_Status v2.0.0 by Zerebos FIX */
    /* https://github.com/rauenzi/BetterDiscordAddons/tree/master/Themes/RadialStatus */
    --rs-width: 0px !important;
    --rs-spacing: 2px;
}
